.modal {
  position: fixed; /* position the modal in the center of the screen */
  isolation: isolate;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5); /* add a semi-transparent background color */
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white; /* add a white background color */
  border-radius: 10px;
  max-width: 300px; /* set a maximum width */
  box-shadow: 0px 0px 10px #666; /* add a subtle box shadow */
}
.modal-icons-nav {
  display: flex;
  justify-content: space-around;
}
.modal-content .close {
  cursor: pointer; /* change the cursor to a pointer when hovering over the button */
}
.close {
  text-align: center;
}

.modal-content {
  padding: 20px;
  font-size: medium;
}
.modal-img {
  height: 30px;
  width: 30px;
}